<%- include("partials/header.ejs") %>

    <main class="about-container">
        <h1 class="title">About Holitracker</h1>
        <p class="about-text centered">HoliTracker is an interactive web application that allows user to see their holidays by date. Our application makes discovering global holidays simple and engaging! With an intuitive interface, you can quickly learn about celebrations and public holidays in different countries.</p>
        <h1>Key Features: </h1>
        <h2><i class="fa-solid fa-calendar-days" style="color: #eb7001;"></i> Interactive Calendar</h2>
        <p class="about-text">Select any date to instantly see which holidays are observed worldwide.</p>

        <h2><i class="fa-solid fa-flag" style="color: #eb7001;"></i> Country dropdown menu</h2>
        <p class="about-text">Choose a country from the dropdown to explore its unique holidays and cultural traditions.</p>

        <p class="about-text centered">Whether you're planning a vacation, managing international schedules, or expanding your cultural knowledge, our app is the perfect tool to keep you informed. Start exploring today and uncover a world of celebrations!</p>
        <hr>
        <h1>Created by Anton Stoyanov</h1>
        <div class="img-container">
            <img src="/imgs/aboutMeProfilePicture.png" alt="" height="200px">
        </div>  
    </main>

<%- include("partials/footer.ejs") %>