  .header {
    display: flex;
    justify-content: space-between;
    overflow: visible;
    background-color: lightgray;
    padding: 20px 10px;
    border-bottom: solid #EB7001 5px;
    height: 100px;
  }
  
  .header .nav-button {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
  }

  .header-item{
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .nav-item{
    padding: 20px;
  }

  .btn{
    background-color: #EB7001;
  }

  .btn:hover{
    background-color: #5C401E;
    color: white;
  }

  .dropdown-item{
    background-color: white;
  }

  .dropdown-item:hover{
    background-color: #EB7001;
  }

  .dropdown-item.active,
  .dropdown-item:active{
    background-color: #EB7001 !important;
  }

  .logo-img{
    height: 80px;
  }

  .logo-text {
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #EB7001;
  }
  
  /* Style the active/current link*/
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

  @media (min-width: 600px) and (max-width: 800px) {
    .logo-img{
      height: 60px;
    }
    .logo-text{
      font-size: 40px;
    }
    .nav-button{
      font-size: 12px;
      padding: 5px 10px;
    }
    .nav-item {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  
  @media (max-width: 600px) {
  .header {
      flex-direction: column; /* Stack items vertically */
      text-align: center;
      height: auto;
  }
  .header-item {
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      width: 100%;
  }
  .logo-img {
      height: 50px;
  }
  .logo-text {
      font-size: 30px;
  }
  .nav-item, 
  .nav-button {
      font-size: 14px;
      padding: 10px;
      width: 100%; /* Make buttons full-width for easier tapping */
  }
  .nav-button {
      text-align: center;
      display: block;
  }
  /* CALENDAR */
  .calendar{
    width: 400px;
  }
  .calendar-header{
    padding: 5px 10px;
  }
  .calendar-body{
    padding: 10px;
  }
  .calendar-header .month-year {
    font-size: 14px;
  }

  #submit-button{
    border: 3px solid #CF2F00;
    background-color: #EB7001;
    color: white;
    font-family: "Quicksand", serif;
    font-weight: 700;
    border-radius: 20px;
    font-size: 1rem;
  }
  footer{
    visibility: hidden;
  }
  }