*{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

h1, .logo-text, .nav-button {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.calendar-container{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin: 10px 0 10px 0;
}

.calendar {
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #CF2F00;
    color: white;
}

.calendar-header .month-year {
    font-size: 18px;
}

.calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.calendar-body {
    padding: 20px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.calendar-days div {
    padding: 10px;
    border-radius: 4px;
}

.calendar-days .day-header {
  font-weight: bold;
  background-color: lightgray;
  text-align: center;
}

.calendar-days .current-day {
    background: #CF2F00;
    color: white;
}

.calendar-days .day {
    cursor: pointer;
}

.calendar-days .day:hover {
    background: #ff94746c;
}

.button-container{
    display: flex;
    justify-content: center;
}

#submit-button{
    border: 5px solid #CF2F00;
    background-color: #EB7001;
    color: white;
    font-family: "Quicksand", serif;
    font-weight: 800;
    border-radius: 20px;
    font-size: 1.2rem;
}

#submit-button:hover{
    background-color: #5C401E;
    border-color: #ff94746c;
}

.text-container{
    padding: 10px 0px 10px 0px;
}   

.holiday-text{
    text-align: center;
    font-weight: 900;
}

.date{
    font-size: 1.2rem;
    font-style: italic;
}

.country-lang{
    color: #CF2F00;
}

.about-container{
    margin: 50px 0px 80px 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.about-container h1{
    text-align: center;
    margin-bottom: 20px;
}

.about-container .title{
    color: #CF2F00;
    font-size: 3rem;
}

.about-text{
    font-size: 1.2rem;
}

.centered{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 20px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.about-container img{
    border: 8px solid #CF2F00;
    border-radius: 30px;
}

